html, body {
      margin: 0;
      padding: 0;
    }

    * {
      box-sizing: border-box;
    }


.slider {
        /*width: 75%;
        margin: 100px auto;
        outline: 1px dotted fuchsia;*/
    }

    /*.slick-slide {
      margin: 0px 20px;
    }*/

    .slick-slide img {
      width: 100%;
    }
    .slick-slide img {
    height: 450px !important;
    width: 42% !important;
    border-radius: 8px;
}

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    /*.slick-slide {
      transition: all ease-in-out .3s;
      opacity: .25;
    }*/
    
    .slick-active {
      opacity: .5;
    }

    .slick-current {
      opacity: 1 !important;
          width: 700px !important;
    }


/* THEME */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}

/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: red;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}



/*.slider-wrapper {
  border: 1px dotted green;
  position: relative;
  padding: 0;
  margin: 0;
}*/

.nu-image-slider {
  outline: 2px dotted fuchsia;
  margin: 10px auto;
  width: 100%;
}

.text-box {
    position: absolute;
    top: 0%;
    right: 0%;
    max-width: 58%;
    background: darkgrey;
}

.text-box-content {
  padding: 20px;
  border-radius: 5px;
  /*color: white;*/
  background-color: rgba(255,255,255, .80);
  border-radius: 5px;
}

.text-box-content.dark {
  color: white;
  background-color: rgba(0,0,0, .80);
}

.text-box-content.dark  p.slide-count {
  color: white;
  background-color: transparent;
}

.text-box-content.dark .rightArrow,
.text-box-content.dark .leftArrow {
  color: white;
}

.slick-slide {
  transition: all 300ms ease;
  /*padding: 5vh 0 0 0;*/
  margin: 0px 50px 0 0px;
  opacity: 0.4;
}

.slick-slide.slick-center {
   /* -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
    padding: 0;*/
}

.slide-count-wrapper {
  /*position: absolute;
  bottom: 10px;
  right: 30px;*/
  line-height: 1;
  display: inline-block;
  font-size: 18px;
  background: white;
  opacity: .5;
  padding: 8px 10px;
  border-radius: 20px;
}

p.slide-count {
  
}

.slide-count span {
  opacity: .2;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 20px;
}

.rightArrow, .leftArrow {
  color: #09c;
  font-size: 20px;
  cursor: pointer;
}



.image-caption-wrapper {
  outline: 1px solid red;
  position: relative;
}

.image-caption {
  position: absolute;
  top: 2%;
  left: 2%;
  color: #fff;
  /*background-color: rgba(255,255,255, .20);
  padding: 10px;
  border-radius: 20px;*/
}
@media only screen and (max-width: 1200px){
  .slick-slide {
    margin: 0px 10px 0 0px;
}
.slick-slide img {
    width: 100% !important;
}
.slick-current {
    opacity: 1 !important;
  width: auto !important;
      height: 580px;
}
.text-box {
    max-width: 100%;
}
}